---
import Button from '../atoms/Button.astro';
import TextBlock from '../atoms/TextBlock.astro';

interface Props {
  label: string;
  href: string;
  isActive?: boolean;
}

const { label, href, isActive = false } = Astro.props;
---

<li class={isActive ? "is-active" : ""}>
  {isActive ? (
    <TextBlock tag="span" aria-current="page">{label}</TextBlock>
  ) : (
    <Button href={href} variant="ghost" size="small" class="p-0">
       {label}
    </Button>
  )}
</li>
