---
import TextBlock from '../atoms/TextBlock.astro';
import Container from '../atoms/Container.astro';

interface Props {
  title?: string;
}

const { title = 'You might also like' } = Astro.props;
---

<section class="related-products section">
  <Container>
    <TextBlock tag="h2" size="3" weight="bold" align="centered" class="mb-6">
      {title}
    </TextBlock>
    <slot />
  </Container>
</section>
